geant4/build/*
geant4/output/*
geant4/output_pelle_old/*
geant4/output_radionuclides/*
geant4/output_background_n/*
geant4/output_background_p/*
geant4/output_background_p_corrupted/*
python/metadata_peakinfo.json
